<div class="video-background">
    <video autoplay="true" loop="true" muted="true">
        <source src="" type="">
    </video>
</div>

<div class="container">
    <h1>Iniciar sesión</h1>
    <form (submit)="login()">
        <label>
            Usuario:
            <input [(ngModel)]="username" name="username">
        </label>
        <label>
            Contraseña:
            <input [(ngModel)]="password" name="password" type="password">
        </label>
        <button type="submit">Iniciar</button>
    </form>
</div>

<!-- Imagen externa -->
<img src="" alt="Firma-usuario" class="signature" />

<!-- Loading spinner -->
<ngx-loading [show]="loading"></ngx-loading>
